<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar" [ngClass]="{'active':navbarOpen}">
  <div class="py-4 px-3 mb-2 bg-light media-body">
      <div>
        <h4 class="m-0 fst-italic">ABHIJIT KADAM</h4>
        <p class="font-weight-light mb-0">Full stack developer</p>
      </div>
    </div>
  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a class="nav-link text-dark font-italic" [routerLink]="['/home']" routerLinkActive="active">
        Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark font-italic " [routerLink]="['/skills']" routerLinkActive="active">
        skills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark font-italic" [routerLink]="['/about']" routerLinkActive="active">
        about</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark font-italic" [routerLink]="['/contact']" routerLinkActive="active">
        contact</a>
    </li>
  </ul>
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>My Portfolio</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <span>ABHIJIT KADAM</span>
      </div>
    </div>
  </footer>
</div>
<!-- End vertical navbar -->
<!-- Page content holder -->
<div class="page-content p-2 main-div" id="content" [ngClass]="{'active':navbarOpen}">
  <!-- Toggle button -->
  <button type="button" (click)="toggleSideBar()" class="btn btn-light bg-white toggleSideBar rounded-pill shadow-sm px-4 mb-4">
    <i class="bi bi-list"></i></button>
<router-outlet></router-outlet>
</div>
